@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.font1 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}

.font2 {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 50;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  position:relative;
  overflow-x:hidden;
}